<!DOCTYPE html>
 <head>
  <meta charset="utf-8">
 </head>
 <body>
  <h1>GeneMark Prediction Analysis: {{header}}</h1>
   <p1>Reference CDS Gene Count: {{cds_cnt}}<br />
      GeneMark Predicted CDS Gene Count: {{gm_cnt}}<br />
      Exact Match Gene Count: {{exact_cnt}}<br />
      5'-Only Match Gene Count: {{p5_cnt}}<br />
      3'-Only Match Gene Count: {{p3_cnt}}<br />
      Unmatched Gene Count: {{nomat_cnt}}<br /></p1>
  <table style=width:100%>
    <tr>
      <th>GenBank {{acc}} Protein ID</th>
      <th>GenBank 5' End</th>
      <th>GenBank 3' End</th>
          <th>GeneMark Protein Number</th>
      <th>GeneMark 5' End</th>
      <th>GeneMark 3' End</th>
          <th>GenBank/GeneMark Agreement</th>
          <th>Sense</th>
    </tr>
        {% for gene in genes %}
    <tr>
      <td style = "text-align: center;">{{gene.acc}}</td>
      <td style = "text-align: center;">{{gene.p5}} - {{gene.p5_agd}}</td>
      <td style = "text-align: center;">{{gene.p3}} - {{gene.p3_agd}}</td>
      <td style = "text-align: center;">{{gene.gm_id}}</td>
      <td style = "text-align: center;">{{gene.gm_p5}} - {{gene.p5_agd}} </td>
      <td style = "text-align: center;">{{gene.gm_p3}} - {{gene.p3_agd}}</td>
          <td style = "text-align: center;">
                {% if gene.match == 8 %}
                        Exact match
                {% elif gene.match == 5 %}
                        5' match
                {% elif gene.match == 3 %}
                        3' match
                {% else %}
                        No match
                {% endif %}
          </td>
        <td style = "text-align: center;">{{gene.sense}} </td>
    </tr>
        {% endfor %}
   </table>
 </body>
</html>
